name: task-manager

x-common-app-service: &common-app-service
  environment:
    SERVICE_HOST: "${SERVICE_HOST}"
    SERVICE_PORT: "${SERVICE_PORT}"
    # Service Hostnames
    GATEWAY_HOSTNAME: "${GATEWAY_HOSTNAME}"
    TASK_HOSTNAME: "${TASK_HOSTNAME}"
    USER_HOSTNAME: "${USER_HOSTNAME}"
    # Endpoints
    TASK_ENDPOINT: "${TASK_ENDPOINT}"
    USER_ENDPOINT: "${USER_ENDPOINT}"

  healthcheck:
    test: ["CMD", "python", "/app/common/health.py"]
    interval: 30s
    retries: 5
    timeout: 5s
    start_period: 5s

  depends_on:
    - task-manager-base

services:
  task-manager-base:
    image: task-manager-base:latest
    build:
      context: ..
      dockerfile: infra/base/Dockerfile

  gateway:
    <<: *common-app-service
    hostname: "${GATEWAY_HOSTNAME}"
    networks:
      default:
        aliases:
          - "${GATEWAY_HOSTNAME}"
    build: ../services/gateway
    ports:
      - "5000:${SERVICE_PORT}"
    depends_on:
      task-service:
        condition: service_healthy
      user-service:
        condition: service_healthy
      logstash:
        condition: service_healthy

  task-service:
    <<: *common-app-service
    hostname: "${TASK_HOSTNAME}"
    networks:
      default:
        aliases:
          - "${TASK_HOSTNAME}"
    build: ../services/task
    ports:
      - "5001:${SERVICE_PORT}"

  user-service:
    <<: *common-app-service
    hostname: "${USER_HOSTNAME}"
    networks:
      default:
        aliases:
          - "${USER_HOSTNAME}"
    build: ../services/user
    ports:
      - "5002:${SERVICE_PORT}"

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.2.4
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
      # Disable x-pack security for simplicity
      - xpack.security.enabled=false
      - xpack.security.http.ssl.enabled=false
    ports:
      - "9200:9200"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9200"]
      interval: 1m30s 
      timeout: 10s
      retries: 5
      start_period: 30s

  logstash:
    image: docker.elastic.co/logstash/logstash:9.2.4
    volumes:
      - ./logstash.conf:/usr/share/logstash/pipeline/logstash.conf
    ports:
      - "5044:5044"
      - "9600:9600"  # Listening port for monitoring API
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9600"]
      interval: 1m30s
      timeout: 10s
      retries: 5
      start_period: 30s

  kibana:
    image: docker.elastic.co/kibana/kibana:9.2.4
    ports:
      - "5601:5601"
    depends_on:
      elasticsearch:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5601"]
      interval: 1m30s
      timeout: 10s
      retries: 5
      start_period: 30s
