x-healthcheck: &default-healthcheck
  test: ["CMD", "python", "/app/common/health.py"]
  interval: 30s
  retries: 5
  timeout: 5s
  start_period: 5s

services:
  task-manager-base:
    build:
      context: ..
      dockerfile: infra/base/Dockerfile

  gateway:
    build: ../services/gateway
    ports:
      - "5000:5000"
    environment:
      FLASK_RUN_HOST: "0.0.0.0"
      FLASK_RUN_PORT: "5000"

      # Service URLs
      TASK_URL: "http://task_service:5001"
      USER_URL: "http://user_service:5002"

      # Endpoints
      TASK_ENDPOINT: "/tasks"
      USER_ENDPOINT: "/users"

    depends_on:
      task_service:
        condition: service_healthy
      user_service:
        condition: service_healthy
      logstash:
        condition: service_healthy

    healthcheck:
      <<: *default-healthcheck

  task_service:
    build: ../services/task
    ports:
      - "5001:5001"
    environment:
      FLASK_RUN_HOST: "0.0.0.0"
      FLASK_RUN_PORT: "5001"
      TASK_ENDPOINT: "/tasks"

    healthcheck:
      <<: *default-healthcheck

  user_service:
    build: ../services/user
    ports:
      - "5002:5002"
    environment:
      FLASK_RUN_HOST: "0.0.0.0"
      FLASK_RUN_PORT: "5002"
      USER_ENDPOINT: "/users"

    healthcheck:
      <<: *default-healthcheck

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.2.4
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
      # Disable x-pack security for simplicity
      - xpack.security.enabled=false
      - xpack.security.http.ssl.enabled=false
    ports:
      - "9200:9200"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9200"]
      interval: 1m30s 
      timeout: 10s
      retries: 5
      start_period: 30s

  logstash:
    image: docker.elastic.co/logstash/logstash:9.2.4
    volumes:
      - ./logstash.conf:/usr/share/logstash/pipeline/logstash.conf
    ports:
      - "5044:5044"
      - "9600:9600"  # Listening port for monitoring API
    depends_on:
      elasticsearch:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9600"]
      interval: 1m30s
      timeout: 10s
      retries: 5
      start_period: 30s

  kibana:
    image: docker.elastic.co/kibana/kibana:9.2.4
    ports:
      - "5601:5601"
    depends_on:
      elasticsearch:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5601"]
      interval: 1m30s
      timeout: 10s
      retries: 5
      start_period: 30s
